body{
    background:url(images/ss.jpg);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .9;
    font-style: cursive;
    color: rgb(155, 212, 186);
    background-color: teal;
}
ul li{
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    opacity: .9;
    font-size:  20px;
    text-align:center;
    display: block;
}

ul li a{
    color: white;
    display: block;
}
ul li a:hover{
    background-color: rgb(13, 14, 13);
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
p{
    color: black;
    font-size: xx-small;
    text-align: left;
    margin:50px;
}
h1{
    font-style:areil;
}